:root{
    --dieci:yellow;
}

h1, .textFooter{
    font-family: 'Dancing Script', cursive;
}

h2,h3,h4,h5,h6{
    font-family: 'Philosopher', sans-serif;
}

p, button{
    font-family: 'Darker Grotesque', sans-serif;
}

.text10{
    color: #e5f321;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mastheadAcceso {
    height: 100vh;
    min-height: 500px;
    background:linear-gradient(270deg,rgba(0,0,0,1) 65%,transparent),url('/media/readdark.jpeg');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}


#btn{
    border-radius: 10px;
    background: linear-gradient(120deg,gold,white,gold);
}

sup{
    font-size: 40px;
}

.class {
    display: inline-block;
    
    font-size: 130px;
    color:black;
    letter-spacing: 0.2em;
    transition: all 0.3s ease-in-out;        
    cursor: pointer;
}
/* .class2 {
    text-shadow:
                    0 1px 0 rgb(190,190,190),
                    0 2px 0 rgb(185,185,185),
                    0 3px 0 rgb(180,180,180),
                    0 4px 0 rgb(175,175,175),
                    0 5px 0 rgb(170,170,170),
                    0 6px 0 rgb(165,165,165),
                    0 7px 0 rgb(160,160,160),
                    0 8px 0 rgb(155,155,155),
                    0 9px 0 rgb(150,150,150),

                    0 1px 5px rgba(0,0,0,.05),
                    0 5px 5px rgba(0,0,0,.10),
                    0 10px 10px rgba(0,0,0,.15),
                    0 15px 10px rgba(0,0,0,.20),
                    0 20px 15px rgba(0,0,0,.25);
    color:yellow;
    transition: all 0.3s ease-in-out;
    text-shadow: 2px 11px 6px rgb(240, 235, 174);
} */

.class2{
    color:yellow;
    text-shadow: 0 0 10px #e5f321, 0 0 40px #e5f321, 0 0 80px #e5f321;
}

@media screen and (max-width: 600px) {
    .class {
        
    
        font-size: 50px !important;
        color:black;
        
        transition: none;        
       
    }
    .class2{
        font-size: 50px !important;
        color:yellow;
       
    }

    .mastheadAcceso {
        height: 100vh;
        min-height: 500px;
        background:linear-gradient(270deg,rgba(0,0,0,1) 65%,transparent),url('/media/readdark.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
  }



.neon{
    
    left:-100%;
    width:60%;
    height:2px;
    background: linear-gradient(90deg,transparent,#e5f321 );
}

.neon:hover{
    left:100%;
    transition: 1s;
}


#subtitle{
    color:black;
}

.class3{
    color:yellow !important;
    transition: all 0.3s ease-in-out;
}

.card{
    background-color: rgba(0,0,0,0.5) !important;
    /* height:380px; */
}
/* .card{
    background-color: rgba(0,0,0,0.5) !important;
    
} */

@media screen and (max-width:600){
    .card{
        background-color: rgba(0,0,0,0.5) !important;
        height: 800px !important;
    }
}



.card-header{
    text-align: center !important;
    color: #e5f321 !important;
    font-size: 42px;
}

.borderbox{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:2px solid rgba(231, 228, 23, 0.904);
}

.navlink{
    color:rgba(255,255,255,1);
    text-shadow: 0;
}
.navlink:hover{
    color:black;
    text-shadow:0 0 10px #e5f321, 0 0 40px #e5f321, 0 0 80px #e5f321;
}

.borderAdd{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:2px dotted rgba(29, 29, 27, 0.904);
}

.h-img{
    
    height:350px;
    width:250px;
}

.overlay{
    position: absolute;
    height: 350px;
    width:250px;
    opacity:0;
    z-index: 999;
}
.overlay:hover{
    position: absolute;
    height: 350px;
    width:250px;
    background-color: rgba(75, 68, 8, 0.473);
    z-index: 999;
    opacity:1;
    transition: 0.5s;
}

.textMiddle{
    
        position: absolute;
        color:#e5f321;
        width: 100px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -50px;
    
}

.bg-black{
    background-color: black;
}
.bgOff{
    opacity: 0;
}

@media screen and (max-width:600){
    .bgOff{
        opacity:1;
    }
    
}

.shadow{
    -webkit-box-shadow: 0px 35px 54px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 35px 54px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 35px 54px 0px rgba(0,0,0,0.75) !important;
}

.modale{
    padding-right: 5px;
    left: 30%;
    height: 800px;
    width: 400px;
}

.bgModal{
    background:linear-gradient(180deg,rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('/media/remove.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgTable{
    background-color: rgba(255,255,255,0.3);
}

.textTable{
    color:#070707;
}

.social{
    height: 2px;
    width:63%;
    background-color: var(--dieci);
}

.profile{
    clip-path: polygon(25% 0%, 100% 0, 100% 78%, 75% 100%, 0 100%, 1% 25%);
    border-radius: 50%;
}

.btnEdit{
    
    color:gold;
}

.btnRead{
    
    color:rgba(23, 35, 53, 0.692);
}

.btnRemove{
    
    color: rgb(192, 134, 79);
}

.btnUpload{
    border-radius: 10px;
    background: linear-gradient(120deg,rgb(3, 87, 73),white,rgb(3, 87, 73));
}
.btnShow{
   
    color: rgb(113, 131, 158);
}

.hrfooter{
    background-color: white;
    
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid var(--dieci) !important;
    border-radius: 0.25rem;
    color: #e5f321 !important;
}

.hrshow{
    margin-bottom: 1em !important;
    height: 1px !important;
    background-color: black;
}

.btnModalRemove{
    
    border-radius: 10px;
    background: linear-gradient(120deg,rgb(117, 74, 17),white,rgb(117, 74, 17));
}